<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TPJSP1</display-name>

	<servlet>
		<servlet-name>Commande</servlet-name>
		<servlet-class>com.doranco.servlets.Commande</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Commande</servlet-name>
		<url-pattern>/commande</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Resume</servlet-name>
		<servlet-class>com.doranco.servlets.Resume</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Resume</servlet-name>
		<url-pattern>/resume</url-pattern>
	</servlet-mapping>
</web-app>